{% extends 'hospital/homebase.html' %}


{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Hello there!</h1>
  <p class="lead">Welcome to Woodland Hospital, Book Your test now!</p>
  <hr class="my-4">

  <p class="lead">
    <a class="btn btn-danger btn-lg" href="/labcustomersignup" role="button">Register Your Account</a>
    <a class="btn btn-success btn-lg" href="/labcustomerlogin" role="button">Login</a>
  </p>
</div>

{% endblock content %}
