<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <style>
    .bs-example {
      margin: 0px;
      color:#ffffff;
      position: relative;
      top: 60px;;

    }

    .navbar-brand {
      font-size: 20px;
      font-family: sans-serif;
      color:#ffffff;
      
    }
  </style>
</head>

<body>



  <div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background:#ff8aad;">
      <img src="/static/images/icons8-home.svg" width="30" height="30" class="d-inline-block align-middle" alt="">
      <a href="/" class="navbar-brand">Home</a>
     
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <div class="navbar-nav">

         


        </div>

        <div class="navbar-nav">
          <img src="/static/images/email.svg" width="30" height="30" class="d-inline-block align-middle" alt="">
          <p>info@example.com</p>
          <img src="/static/images/icons8-phone.svg" width="30" height="30" class="d-inline-block align-middle" alt="">
          <p>022-21242124</p>
          
          
          <a href="/aboutus" class="nav-item nav-link"><b>About Us</b></a>
          <a href="/contactus" class="nav-item nav-link"><b>Contact Us</b></a>
          <a href="/adminclick" class="nav-item nav-link"><b>Admin</b></a>
        </div>

      </div>
    </nav>
  </div>

 

</body>

</html>
